<!DOCTYPE html>
<html>
<head>
    <title>Visual Studio Ultra Light</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <!-- Agregar las bibliotecas de CodeMirror -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/codemirror.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/mode/clike/clike.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/theme/midnight.css">

</head>
<body>
    <div class="row">
        <div class="col-lg-6">
            <form action="/" method="POST" enctype="multipart/form-data">
                <input type="file" name="file" accept=".yapl">
                <input class="button" type="submit" value="Compilar">
            </form>
        
            <!-- Agregar CodeMirror al primer textarea -->
            <form action="/" method="POST" enctype="multipart/form-data">
                <div class="code-editor">
                    <textarea id="edited_code" name="edited_code" rows="10" cols="50">{{ input_data }}</textarea>
                </div>
                <input type="submit" value="Recompilar" class="button">
            </form>
        
        </div>

        <div class="col-lg-6">
            <div style="height: 44px;"></div>
            <form action="/" method="POST" enctype="multipart/form-data">
                <div class="code-editor">
                    <!-- Agregar CodeMirror al segundo textarea -->    
                    <textarea id="tresdir" name="tresdir" rows="10" cols="50">{% if tres_dir %}{{tres_dir}}{% endif %}</textarea>                   
                </div>
            </form>
        </div>

        <div class="col-lg-12">
            <div class="errores">
                {% if syntax_errors %}
                <h2>Errores Sintácticos:</h2>
                {% for syn_err in syntax_errors %}
                <p>- {{ syn_err }}</p>
                {% endfor %}
                {% endif %}
                {% if semantic_errors %}
                <h2>Errores Semánticos:</h2>
                {% for sem_err in semantic_errors %}
                <p>- Error en la linea {{ sem_err.line }}: {{ sem_err.name }}: {{ sem_err.details }}</p>
                {% endfor %}
                {% endif %}

                {% if not syntax_errors and not semantic_errors %}
                    <h2 style="color: greenyellow;">Compilado sin errores</h2>
                {% endif %}

            </div>
        </div>
    </div>
    
    <!-- Inicializar CodeMirror en los textareas -->
    <script>
        // Inicializar CodeMirror en el primer textarea
        var editedCodeEditor = CodeMirror.fromTextArea(document.getElementById("edited_code"), {
            mode: "text/x-java",
            theme: "midnight",
            lineNumbers: true,
            styleActiveLine: true, // Enable line highlighting on hover
        });


        CodeMirror.defineMode("custom-tresdir", function () { // custom style for code mirror

            return {
                startState: function () {
                return { inString: false };
                },
                token: function (stream, state) {
                if (stream.eatSpace()) return null;

                // Resaltar palabras clave
                if (stream.match(/(START|END|RETURN|ON)\b/)) {
                    return "keyword-red";
                }

                // Resaltar palabras clave
                if (stream.match(/(ASSIGN|NEW|SUM|MULT|SUB|DIV|LTH|LEQ|GEQ|GTH|BWNOT|ISVOID|PARAM|CALL)\b/)) {
                    return "keyword-green";
                }

                // Resaltar palabras bool
                if (stream.match(/(true|false)\b/)) {
                    return "keyword-bool";
                }

                // Resaltar palabras string
                if (stream.match(/'[^']*'/)) {
                    return "keyword-string";
                }

                // Resaltar palabras int
                if (stream.match(/\b\d+\b/)) {
                    return "keyword-int";
                }

                // Resaltar palabras que comienzan con "CL|L|MT|S" y pueden contener cualquier carácter
                if (stream.match(/\b(CL|L|MT)\w*|S\d+\b/)) {
                    return "custom-tag";
                }

                // Resaltar temporales
                if (stream.match(/\bt\d+\b/)) {
                    return "custom-temp";
                }

                // Cambiar el color de las palabras no resaltadas
                if (stream.match(/\b\w+\b/)) {
                    return "custom-base";
                }

                // Otros tokens
                stream.next();
                return null;
                }
            };
        });

        // Configura CodeMirror con el nuevo modo de resaltado de sintaxis
        var tresdirEditor = CodeMirror.fromTextArea(document.getElementById("tresdir"), {
            mode: "custom-tresdir", // Utiliza el nuevo modo personalizado
            theme: "midnight",
            lineNumbers: true,
            styleActiveLine: true,
        });
    </script>

</body>
</html>
