<!DOCTYPE html>
<html>
<head>
    <title>Visual Studio Ultra Light</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <!-- Agregar las bibliotecas de CodeMirror -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/codemirror.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/mode/clike/clike.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/theme/midnight.css">

</head>
<body>
    <div class="row">
        <div class="col-lg-6">
            <form action="/" method="POST" enctype="multipart/form-data">
                <input type="file" name="file" accept=".yapl">
                <input class="button" type="submit" value="Subir archivo inicial">
            </form>
            <h4>Yapl</h4>
        
            <!-- Agregar CodeMirror al primer textarea -->
            <form action="/" method="POST" enctype="multipart/form-data">
                <div class="code-editor">
                    <textarea id="edited_code" name="edited_code" rows="10" cols="50">{{ input_data }}</textarea>
                </div>
                <input type="submit" value="Compilar" class="button">
            </form>
        
        </div>

        <div class="col-lg-6">
            <div style="height: 44px;"></div>
            <h4>Código de Tres Direcciones</h4>
            <form action="/" method="POST" enctype="multipart/form-data">
                <div class="code-editor">
                    <!-- Agregar CodeMirror al segundo textarea -->    
                    <textarea id="tresdir" name="tresdir" rows="10" cols="50">{% if tres_dir %}{{tres_dir}}{% endif %}</textarea>                   
                </div>
            </form>
        </div>

        <div class="col-lg-12">
            <div style="height: 10px;"></div>
            <div class="errores">
                {% if syntax_errors %}
                <h2>Errores Sintácticos:</h2>
                {% for syn_err in syntax_errors %}
                <p>- {{ syn_err }}</p>
                {% endfor %}
                {% endif %}
                {% if semantic_errors %}
                <h2>Errores Semánticos:</h2>
                {% for sem_err in semantic_errors %}
                <p>- Error en la linea {{ sem_err.line }}: {{ sem_err.name }}: {{ sem_err.details }}</p>
                {% endfor %}
                {% endif %}

                {% if not syntax_errors and not semantic_errors %}
                    <h2 style="color: greenyellow;">Compilado sin errores</h2>
                {% endif %}

            </div>
        </div>

        <div class="col-lg-6">
            <div style="height: 44px;"></div>
            <h4>Tripletas en cuadruplos</h4>
            <form action="/" method="POST" enctype="multipart/form-data">
                <div class="code-editor">
                    <!-- Agregar CodeMirror al tercer textarea -->    
                    {% if tripletas %}
                    <textarea id="tresdir_trips" name="tresdir_trips" rows="10" cols="50">{% for tripleta in tripletas %}
{{ tripleta }}
                    {% endfor %}</textarea>                   
                    {% endif %}
                </div>
            </form>
        </div>

        <div class="col-lg-6">
            <div style="height: 44px;"></div>
            <h4>MIPS</h4>
            <form action="/" method="POST" enctype="multipart/form-data">
                <div class="code-editor">
                    <!-- Agregar CodeMirror al segundo textarea -->    
                    <textarea id="mips" name="mips" rows="10" cols="50">{% if mips %}{{mips}}{% endif %}</textarea>                   
                </div>
            </form>
        </div>
    </div>
    
    <!-- Inicializar CodeMirror en los textareas -->
    <script src="{{ url_for('static', filename='js/codemirror.js') }}"></script>

</body>
</html>
